<html>
<head>
</head>
<body>
  <section class="content-header">
    <h1>
      Jadwal Mata Pelajaran
      <small>lihat Data kelas</small>
    </h1>
    <ol class="breadcrumb">
      <li class = "active"><a href="#"><i class="fa fa-database"></i> Data Kelas</a></li>
    </ol>
  </section>
  <div class="box-header">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Tambah Jadwal</button>
    <button class="btn btn-danger" ng-click="hapus()"><i class="fa fa-trash"></i> Hapus Jadwal</button>
  </div>
  <div class ="box-body">
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Input data Matpel</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label>hari</label>
          <input type="text" class="form-control" ng-model="hari">
          </div>
          <div class="form-group">
          <label>tanggal</label>
          <input type="date" class="form-control" ng-model="tanggal">
          </div>
          <div class="form-group">
          <label>Nama Siswa</label>
          <select class="form-control" ng-model="nama">
          <option ng-repeat="item in murid" value="{{item.nama}}">{{item.nama}}</opton>
          </select>
          </div>
<div class="form-group">
<label>kelas</label>
<select class="form-control" ng-model="kelasku">
<option ng-repeat="item in kelas" value="{{item.kelas}}">{{item.kelas}}</opton>
</select>
</div>
<div class="form-group">
<label>Matpel</label>
<select class="form-control" ng-model="matpelku">
<option ng-repeat="item in matpel" value="{{item.matpel}}">{{item.matpel}}</opton>
</select>
</div>
      </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="tambah()"><i class="fa fa-send"></i> Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Ubah Data jadwal matpel</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
      <label>hari</label>
      <input type="text" class="form-control" ng-model="hari">
      </div>
      <div class="form-group">
      <label>tanggal</label>
      <input type="date" class="form-control" ng-model="tanggal">
      </div>
      <div class="form-group">
      <label>Nama Siswa</label>
      <select class="form-control" ng-model="nama">
      <option ng-repeat="item in murid" value="{{item.nama}}">{{item.nama}}</opton>
      </select>
      </div>
      <div class="form-group">
      <label>kelas</label>
      <select class="form-control" ng-model="kelasku">
      <option ng-repeat="item in kelas" value="{{item.kelas}}">{{item.kelas}}</opton>
      </select>
      </div>
      <div class="form-group">
      <label>Matpel</label>
      <select class="form-control" ng-model="matpelku">
      <option ng-repeat="item in matpel" value="{{item.matpel}}">{{item.matpel}}</opton>
      </select>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="actionedit()"><i class="fa fa-send"></i> Submit</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  </div>
  </div>
  <table datatable="ng" dt-columns="dtColumns"dt-options="dtOptions"class="table table-bordered table-striped">
  <thead>
  <th><input type="checkbox" ng-click="checkall()"></th>
  <th>Hari</th>
  <th>Tanggal</th>
  <th>Nama</th>
  <th>Kelas</th>
  <th>Matpel</th>
  <th>Action</th>
</thead>
  <tbody>
  <tr ng-repeat="item in jadwalmatpel">
  <td> <input type="checkbox"  checklist-model="user.hapusjadwalmatpel" checklist-value="item._id" role></td>
  <td>{{item.hari}}</td>
  <td>{{item.tanggal}}</td>
  <td>{{item.nama}}</td>
  <td>{{item.kelas}}</td>
  <td>{{item.matpel}}</td>
  <td><button class="btn btn-success" data-toggle="modal" ng-click="edit(item)"data-target="#myModal1"><i class="fa fa-edit"></i></button></td>
  </tr>
  </tbody>
  </table>

  </div>
</body>
</html>
